@import '../../Global.scss';

.positions{
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;

    @include mobile{
        padding-top: 80px;
        overflow-x: hidden;
    }

    h1{
        color: $secondary-color;
        font-size: 40px;
        font-weight: 500;
        word-spacing: 10px;
        letter-spacing: 5px;

        @include media-query-large{
            font-size: 50px;
        }
    }

    .developers{
        margin-top: 50px;

        h3{
            color: $third-color;
            font-size: 35px;
            font-weight: 500;

            @include mobile{
                font-size: 30px;
            }
        }

        h4{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 25px;
            font-weight: 400;

            @include mobile{
                font-size: 20px;
            }
        }

        .spositions{
            padding-left: 50px;

            @include mobile{
                padding-left: 0px;
            }

            .wrapper{
                display: flex;
                overflow-x: hidden;

                @include mobile{
                    flex-direction: column;
                }
    
                .left{
                    flex: 0.5;
                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
    
                }
                .right{
                    flex: 0.5;

                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
                }
            }
        }

        ol{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 15px;
            list-style-position: outside;

            li{
                width: 90%;
                padding-left: 10px;
                padding-bottom: 5px;

                @include media-query-xlarge {
                    width: 80%;
                }
            }
        }
    }

    .social{
        margin-top: 50px;

        h3{
            color: $third-color;
            font-size: 35px;
            font-weight: 500;

            @include mobile{
                font-size: 30px;
            }
        }

        h4{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 25px;
            font-weight: 400;

            @include mobile{
                font-size: 20px;
            }
        }

        .spositions{
            padding-left: 50px;

            @include mobile{
                padding-left: 0px;
            }

            .wrapper{
                display: flex;
                overflow-x: hidden;

                @include mobile{
                    flex-direction: column;
                }
    
                .left{
                    flex: 0.5;
                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
    
                }
                .right{
                    flex: 0.5;

                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
                }
            }
        }

        ol{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 15px;
            list-style-position: outside;

            li{
                padding-left: 10px;
                padding-bottom: 5px;
                width: 80%;
            }
        }
    }

    .content{
        margin-top: 50px;

        h3{
            color: $third-color;
            font-size: 35px;
            font-weight: 500;

            @include mobile{
                font-size: 30px;
            }
        }

        h4{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 25px;
            font-weight: 400;

            @include mobile{
                font-size: 20px;
            }
        }

        .spositions{
            padding-left: 50px;

            @include mobile{
                padding-left: 0px;
            }

            .wrapper{
                display: flex;
                overflow-x: hidden;

                @include mobile{
                    flex-direction: column;
                }
    
                .left{
                    flex: 0.5;
                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
    
                }
                .right{
                    flex: 0.5;

                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
                }
            }
        }

        ol{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 15px;
            list-style-position: outside;

            li{
                padding-left: 10px;
                padding-bottom: 5px;
                width: 80%;
            }
        }
    }

    .design{
        margin-top: 50px;

        h3{
            color: $third-color;
            font-size: 35px;
            font-weight: 500;

            @include mobile{
                font-size: 30px;
            }
        }

        h4{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 25px;
            font-weight: 400;

            @include mobile{
                font-size: 20px;
            }
        }

        .spositions{
            padding-left: 50px;

            @include mobile{
                padding-left: 0px;
            }

            .wrapper{
                display: flex;
                overflow-x: hidden;

                @include mobile{
                    flex-direction: column;
                }
    
                .left{
                    flex: 0.5;
                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
    
                }
                .right{
                    flex: 0.5;

                    h5{
                        padding-top: 20px;
                        color: $third-color;
                        font-size: 22px;
                        font-weight: 400;
                    }
                }
            }
        }

        ol{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 15px;
            list-style-position: outside;

            li{
                padding-left: 10px;
                padding-bottom: 5px;
                width: 80%;
            }
        }
    }

    .kommunity{
        padding-top: 50px;
        padding-left: 120px;

        p{
            color: $secondary-color;

            a{
                text-decoration: none;
                color: $third-color;
            }
        }

        @include mobile{
            padding-left: 30px;
        }
    }

    .image-wrapper {
        overflow-x: scroll;

        img{
            margin-top: 30px;
            margin-bottom: 30px;
            height: 250px;

            @include mobile{
                margin-left: 0px;
            }
        }
    }
}