@import '../../Global.scss';

.projectcorousal3{
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    
    div{
        

        img{
            width: 380px;
            height: 190px;
            padding-bottom: 20px;

            @include mobile{
                width: 280px;
                height: 170px;
            }
        }

        p{
            color: $third-color;
            margin-top: -20px;
            margin-left: 150px;

            @include mobile{
                margin-left: 0px;
            }
        }
    }
}