@import '../../Global.scss';

.projectcorousal_hawa{
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    
    div{
        

        img{
            width: 320px;
            height: 180px;
            padding-bottom: 20px;
        }

        p{
            color: $third-color;
            margin-top: -20px;
        }
    }
}