@import '../../Global.scss';

.projectcorousal_cloud{
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    
    div{
        

        img{
            width: 400px;
            height: 230px;
            padding-bottom: 20px;
        }

        p{
            color: $third-color;
            margin-top: -20px;
            margin-left: 150px;
        }
    }
}