@import '../../Global.scss';

.projectcorousal{
    padding-top: 40px;
    padding-bottom: 5px;
    width: 100%;
    
    div{

        img{
            width: 400px;
            height: 300px;
            padding-bottom: 20px;
        }
    }
}