.card {
  background-color: var(--blur);
  border-radius: 11px;
  transition: all 0.6s;
  padding: 20px;
  width: 24%;
  margin: 10px auto;
}
/* .card:hover {
  transform: scale(1.1);
  transition: all 0.6s;
} */

.card > :nth-child(1) {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  margin: 1rem 0;
}
/* child 2 */
.card > :nth-child(2) {
  margin: 1rem 0;
  font-size: 14px;
  color: var(--white);
}
.card > :nth-child(2) > span {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
}
/* child 3 */
.card > :nth-child(3) {
  margin: 1rem 0;
  border: 0.5px solid var(--green);
}
/* child 4 */
.card > :nth-child(4) {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  margin: 1rem 0;
}
