@import '../../Global.scss';

.desc{
    box-shadow: 0px -15px 10px 0px black;
    margin-top: 0px;
    background-color: $primary-color;
    
    @include mobile{
        width: 130%;
    }
    
    .wrapper{
        padding-top: 150px;

        @include mobile{
            padding-top: 100px;
        }

        h3{
            font-size: 25px;
            font-weight: 500;
            margin-left: 120px;
            color: $third-color;

            @include mobile{
                margin-left: 60px;
            }
        }

        .boxdesc{
            margin-top: 30px;

            h1{
                width: 45%;
                font-size: 50px;
                margin-left: 120px;
                padding: 40px 20px 40px 0px;
                box-shadow: 20px 20px 20px 0px black;
                color:$secondary-color;

                @include mobile{
                    width: 75%;
                    font-size: 40px;
                    margin-left: 60px;
                }
            }
        }

        p{
            width: 85%;
            color:$secondary-color;
            margin-left: 120px;
            margin-top: 80px;
            word-spacing: 3px;
            text-align: justify;

            @include mobile{
                margin-left: 60px;
                width: 80%;
                word-spacing: normal;
            }
        }

        .flashcards{
            margin-top: 100px;
            display: flex;
            margin-left: 100px;
            overflow-x: hidden;
            overflow-y: hidden;
            justify-content: center;

            @include mobile{
                margin-top: 50px;
                flex-direction: column;
            }

            .card1{
                margin-bottom: 20px;
                margin-right: 100px;
                height: 350px;
                border-radius: 50px;
                width: 900px;
                padding: 20px 20px 20px 20px;
                background-color: #1F2436;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile{
                    height: 300px;
                }

                img{
                    height: 170px;
                }

                h4{
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                    color: $third-color;
                }

                p{
                    width: 80%;
                    margin-top: 10px;
                    text-align: center;
                    margin-left: 0;
                    font-size: 13px;

                    @include mobile{
                        font-size: 14px;
                    }
                }

                &:hover{
                    box-shadow: 10px 10px 10px 0px #014A45;
                    transition: all 0.4s ease-in;
                }
            }

           

            .card2{
                margin-bottom: 20px;
                margin-right: 100px;
                height: 350px;
                border-radius: 50px;
                width: 900px;
                padding: 20px 20px 20px 20px;
                background-color: #1F2436;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile{
                    height: 300px;
                }

                img{
                    height: 170px;
                }

                h4{
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                    color: $third-color;
                }

                p{
                    width: 80%;
                    margin-top: 10px;
                    text-align: center;
                    margin-left: 0;
                    font-size: 13px;

                    @include mobile{
                        font-size: 14px;
                    }
                }

                &:hover{
                    box-shadow: 10px 10px 10px 0px #014A45;
                    transition: all 0.4s ease-in;
                }
            }

            .card3{
                margin-bottom: 20px;
                margin-right: 100px;
                height: 350px;
                border-radius: 50px;
                width: 900px;
                padding: 20px 20px 20px 20px;
                background-color: #1F2436;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile{
                    height: 300px;
                }

                img{
                    height: 170px;
                }

                h4{
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 10px;
                    color: $third-color;
                }

                p{
                    width: 80%;
                    margin-top: 10px;
                    text-align: center;
                    margin-left: 0;
                    font-size: 13px;

                    @include mobile{
                        font-size: 14px;
                    }
                }

                &:hover{
                    box-shadow: 10px 10px 10px 0px #014A45;
                    transition: all 0.4s ease-in;
                }
            }
        }
    }
}