@import '../../Global.scss';

.services{
    margin-top: 0;

    @include mobile{
        width: 130%;
    }

    .wrapper{
        padding-top: 100px;
        overflow-x: hidden;
        //overflow-y: hidden;

        @include mobile{
            padding-top: 50px;
        }


        h3{
            font-size: 25px;
            font-weight: 500;
            margin-left: 120px;
            color: $third-color;

            @include mobile{
                margin-left: 60px;
            }
        }

        .flashcards{
            margin-bottom: 30px;
            margin-top: 80px;
            margin-left: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: hidden;

            @include mobile{
                flex-direction: column;
                justify-content: center;
            }

            .card1{
                margin-right: 100px;   
                position: relative;   
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 20px 60px;

                @include mobile{
                    margin-bottom: 20px;
                }

                

                a{
                    margin-top: 20px;
                    text-decoration: none;

                    img{
                        margin-top: -20px;
                        height: 180px;
                    }

                    h2{
                        font-weight: 500;
                        margin-top: 20px;
                        margin-left: 45px;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }

            .card2{
                margin-right: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 20px 60px;

                @include mobile{
                    margin-bottom: 20px;
                }


                a{
                    margin-top: 20px;
                    text-decoration: none;

                    img{
                        margin-top: -25px;
                        height: 150px;
                    }

                    h2{
                        font-weight: 500;
                        margin-top: 20px;
                        margin-left: 15px;
                        color: $secondary-color;
                    }

                    h2{
                        font-weight: 500;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }
            .card3{
                margin-right: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 0px 60px;

                @include mobile{
                    margin-bottom: 20px;
                }

                a{
                    margin-top: 20px;
                    text-decoration: none;

                    img{
                        margin-top: -20px;
                        height: 160px;
                    }

                    h2{
                        font-weight: 500;
                        margin-top: 20px;
                        margin-left: 55px;
                        color: $secondary-color;
                    }

                    h2{
                        font-weight: 500;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }
        }
    }
}