@import '../../Global.scss';

.services{
    margin-top: 0;

    .wrapper{
        padding-top: 100px;
        overflow-x: hidden;
        //overflow-y: hidden;


        h3{
            font-size: 25px;
            font-weight: 500;
            margin-left: 120px;
            color: $third-color;
        }

        .flashcards{
            margin-bottom: 30px;
            margin-top: 80px;
            margin-left: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: hidden;

            .card1{
                margin-right: 100px;   
                position: relative;   
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 20px 60px;

                img{
                    height: 180px;
                }

                a{
                    margin-top: 20px;
                    text-decoration: none;

                    h2{
                        font-weight: 500;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }

            .card2{
                margin-right: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 20px 60px;

                img{
                    height: 180px;
                }

                a{
                    margin-top: 20px;
                    text-decoration: none;

                    h2{
                        font-weight: 500;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }

            .card3{
                margin-right: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1F2436;
                border-radius: 50px;
                padding: 20px 60px 0px 60px;

                img{
                    height: 150px;
                }

                a{
                    margin-top: 20px;
                    text-decoration: none;

                    h2{
                        font-weight: 500;
                        color: $secondary-color;
                    }

                    &:hover{
                        h2{
                            color:$third-color;
                            
                        }
                    }
                }
            }
        }
    }
}