@import '../../Global.scss';

.working{
    margin-top: 0;

    .wrapper{
        padding-top: 100px;
        overflow-x: hidden;

        h3{
            font-size: 25px;
            font-weight: 500;
            margin-left: 120px;
            color: $third-color;
        }

        p{
            width: 85%;
            color:$secondary-color;
            margin-left: 120px;
            margin-top: 40px;
            word-spacing: 3px;
            text-align: justify;
        }

        .timeline{
            overflow-y: hidden;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 80px;
            width: 100%;

            img{
                height: 700px;
            }
        }
    }
}