@import '../../Global.scss';

.industry{
    width: 100%;

    .heading{
        position: relative;
        margin-top: -200px;

        img{
            width: 100%;
        }

        .wrapper{
            display: flex;
            width: 86%;
            justify-content: space-between;
            position: absolute;
            margin-top: -80px;
            margin-left: 120px;

            h3{
                color: $third-color;
                font-size: 40px;
                font-weight: 400;
            }

            .backbutton{

                a{
                    margin-top: 20px;
                    display: flex;
                    text-decoration: none;

                    img{
                        height: 20px;
                        padding-right: 10px;
                    }

                    p{
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .table{
        margin-top: 20px;

        img{
            height: 350px;
            margin-left:250px;
        }
    }
}