.get-start {
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 10px 22px;
  margin: 1rem auto 0 auto;
  display: block;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.get-start:hover {
  background-color: var(--green);
  color: var(--black);
}
