.pricing {
  background: linear-gradient(#040e27, rgba(4, 14, 39, 0.3));
}
.pricing > h1 {
  color: var(--white);
  text-align: center;
  padding-top: 2rem;
}
.pricing > p {
  color: var(--white);
  text-align: center;
  margin: 1rem 0;
}
.mob-view,
.swiper-control {
  display: none;
}

/* for bg images */

.left-bg {
  position: absolute;
  left: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

.right-bg {
  position: absolute;
  right: 0;
  opacity: 0.2;
  z-index: 0;
  height: 100%;
}

/* Card container */

.card-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;
  flex-wrap: wrap;
}

/* ===============Slider========================*/

.mob-container {
  display: none;
  position: relative;
  width: 100%;
  overflow-x: clip;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  z-index: 5;
  height: 52vh;
}

.active-card {
  transform: scale(1.1);
}

.mob-swiper-control {
  display: none;
  position: relative;
  z-index: 10;
  margin: 2rem auto;
  padding-bottom: 40px;
  color: var(--dull-white);
  text-align: center;
  font-size: 12px;
}

/* For mobile view */
@media (max-width: 930px) {
  .card-container > div {
    width: 40%;
    margin-bottom: 2rem;
  }
  .left-bg {
    display: none;
  }
}
@media (max-width: 600px) {
  .card-container > div {
    width: 47%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 477px) {
  .mob-container > .mob-card {
    position: absolute;
    width: 250px;
    top: 0;
  }
  .mob-card:nth-child(1) {
    transform: translateX(-280px);
  }
  .mob-card:nth-child(3) {
    transform: translateX(280px);
  }
  .card-container {
    display: none;
  }
  .mob-container {
    display: flex;
  }
  .mob-swiper-control {
    display: block;
  }
}
