@import '../../Global.scss';

.header{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    position: fixed;
    z-index: 2;
    top: 0;

    .wrapper{
        display: flex;
        padding: 25px 40px;
        align-items: center;
        justify-content: space-between;

        .left{
            margin-left: 80px;

            img{
                width: 40px;
                height: 40px;
            }
        }

        .right{
            
            ul{ 
                display: flex;
                list-style: none;

                li{
                    display: block;
                    margin-right: 50px;

                    a{
                        display: block;
                        text-decoration: none;
                        color: $secondary-color;
                        font-weight: 200;
                        font-size: 15px;

                        &:hover{
                            font-weight: 200;
                            color: $third-color;
                        }
                    }
                }
            }
        }

    }
}