@import '../../Global.scss';

.footer{
    margin-top: 100px;
    background-color: #1F2436;
    height: 450px;
    
    @include mobile{
        width: 130%;
        height: 530px;
    }

    .wrapper{
        overflow-y: hidden;
        overflow-x: hidden;
        padding-top: 50px;
        width: 100%;
        display: flex;

        .left{
            flex: 0.5;

            h3{
                font-size: 25px;
                font-weight: 500;
                margin-left: 120px;
                color: $third-color;
                
                @include mobile{
                    margin-left: 100px;
                }
            }
            
            a{
                text-decoration: none;

                h4{
                    width: 110px;
                    font-size: 20px;
                    padding-left: 120px;
                    padding-top: 15px;
                    padding-right: -200px;
                    margin: 0;
                    font-weight: 300;
                    color: $secondary-color;

                    @include mobile{
                        padding-left: 100px;
                    }
                }

                &:hover{

                    h4{
                        color: $third-color;
                    }
                }
            }
        }
        
        .right{
            flex: 0.5;
            overflow-y: hidden;
            overflow-x: hidden;

            @include mobile{
                margin-left: 150px;
            }

            h3{
                font-size: 25px;
                font-weight: 500;
                color: $third-color;
                
            }

            .links{
                display: flex;
                margin-top: 10px;

                @include mobile{
                    flex-direction: column;
                    margin-top: 20px;
                }
            
                a{
                    
                    img{
                        padding-right: 25px;
                        height: 30px;

                        @include mobile{
                            margin-bottom: 10px;
                        }
                    }
                }
            }

        }
    }

    .salutation{
        display: flex;
        margin-left: 600px;
        margin-top: 50px;
        padding-bottom: 10px;

        @include mobile{
            margin-top: 70px;
            margin-left: 170px;
        }
  
      p{
          color: $secondary-color;
          font-size: 14px;
      }
    }
}