.trusted {
  height: 100vh;
}

.main-heading {
  text-align: center;
  color: white;
  padding: 2rem 0 0.7rem 0;
  font-size: 3rem;
}
.animate-heading {
  text-align: center;
  color: white;
  font-size: 3rem;
  width: 50%;
  margin: 0 auto;
}

.animate-heading-one {
}
.animate-heading-two {
  display: none;
}
.animate-heading-three {
  display: none;
}

.image-box {
  width: 70%;
  margin: 2rem auto 0 auto;
  height: 70vh;
}

.image-box > img {
  width: 100%;
  height: 100%;
}

.leftIn-animate {
  animation: leftIn 0.6s ease forwards;
}

@keyframes leftIn {
  0% {
    transform: translate(195px, 81px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.leftOut-animate {
  animation: leftOut 0.6s ease forwards;
}

@keyframes leftOut {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: translate(-135px, -69px);
  }
  100% {
    opacity: 0;
    transform: translate(-145px, 80px);
  }
}

.rightIn-animate {
  animation: rightIn 0.6s ease forwards;
}

@keyframes rightIn {
  0% {
    transform: translate(-145px, 80px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.rightOut-animate {
  animation: rightOut 0.6s ease forwards;
}

@keyframes rightOut {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: translate(138px, -66px);
  }
  100% {
    opacity: 0;
    transform: translate(195px, 81px);
  }
}
