@import '../../Global.scss';

.projectcards{
    margin-top: 50px;
    width: 100%;

    .cards{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        align-items: center;

        .card {
            padding: 20px;
            background-color: #1F2436;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            -webkit-box-shadow: 0 2px 16px -1px rgba(0,0,0,0.40);
            -moz-box-shadow: 0 2px 16px -1px rgba(0,0,0,0.40);
            box-shadow: 0 2px 16px -1px rgba(0,0,0,0.40);
            margin-bottom: 30px;

            @include media-query-medium {
                width: 80%;
            }

            @include media-query-large {
                width: 45%;
            }

            @include media-query-xlarge {
                width: 40%;
            }

            img {
                margin: 0 auto 30px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            h4{
                color: $secondary-color;
                font-weight: 500;
                font-size: 30px;
            }
            p{
                padding-top: 10px;
                color: $secondary-color;
                font-size: 12px;
                text-align: justify;
            }
            a{
                text-decoration: none;

                p{
                    color: $third-color;
                    padding-bottom: 20px;
                }
            }
        }

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;

            @include media-query-large {
                flex-direction: row;
                justify-content: space-around;
            }

            @include media-query-xlarge {
                width: 80%;
            }
        }
        

        .row1{
            .card {
                @include media-query-large {
                    height: 650px;
                }
            }
            .card1{
                img{
                    height: 390px;
                    width: 190px;
                }
            }

            .card2{
                img{
                    height: 390px;
                    width: 250px;
                }
            }
        }

        .row2{
            .card {
                @include media-query-large {
                    height: 500px;
                }
            }
        }

        .row3{
            .card {
                @include media-query-large {
                    height: 500px;
                }
            }
        }

        .row4{
            .card {
                @include media-query-large {
                    height: 480px;
                }
            }
        }

        .row5{
            .card {
                @include media-query-large {
                    height: 500px;
                }
            }
        }

        .row6{
            .card {
                height: auto;
            }
        }
    }
}