# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Website CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  setup:
  
    runs-on: ubuntu-latest
  
    steps:
    - uses: actions/checkout@v3
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: 16.13.2
        cache: 'npm'
    
    - name: "Install Dependencies"
    - run: npm ci
    - run: npm install react-scripts@3.4.1 -g --silent
    
    - name: "Run Test"
    - run: npm test
    
    - name: "Run Build"
    - run: npm build
