@import '../../Global.scss';

.career{
    width: 100%;
    overflow-x: hidden;

    @include media-query-xlarge {
        overflow-x: auto;
    }

    .heading{
        position: relative;
        margin-top: 100px;

        @include media-query-large {
            margin-top: -40px;
            margin-bottom: 90px;
        }
        @include media-query-xlarge {
            margin-top: -220px;
            margin-bottom: 60px;
        }
        @include media-query-xxlarge {
            margin-top: -210px;
        }

        img{
            width: 100%;
        }

        h3{
            margin: 20px auto 0;
            width: 80%;
            color: $third-color;
            font-size: 40px;
            font-weight: 500;

            @include media-query-medium {
                margin-top: -170px;
                margin-bottom: 100px;
                font-size: 50px;
            }

            @include media-query-xlarge {
                margin-top: -140px;
                margin-bottom: 100px;
            }

            @include media-query-xxlarge {
                margin-top: -100px;
            }
        }
    }

    .section1{
        width: 80%;
        margin: 0 auto;
        padding: 60px 0;

        h1{
            color: $secondary-color;
            font-size: 40px;
            font-weight: 500;

            @include mobile{
                font-size: 30px;
            }
        }

        h3{
            padding-top: 20px;
            color: $secondary-color;
            font-size: 16px;
            width: 100%;
            text-align: justify;
            font-weight: 300;

            @include media-query-xlarge{
                width: 80%;
            }
        }
    }

    .section2{
        width: 80%;
        margin: 0 auto;

        h1{

            color: $secondary-color;
            font-size: 40px;
            font-weight: 500;
            word-spacing: 10px;
            letter-spacing: 5px;

            @include media-query-large {
                font-size: 50px;
            }
        }

        .pic{
            margin-top: 30px;

            img{
              width: 100%;
              @include media-query-large {
                width: 530px;
              }
            }
        }
    }

    .pab{
        display:flex;
        width: 80%;
        margin: 110px auto 0;

        @include mobile{
            flex-direction: column;
            margin-top: 50px;
        }

        .left{
            flex: 0.5;
            padding-right: 0;

            @include media-query-large{
                padding-right: 40px;
            }

            .point1{

                h4{
                    font-size: 25px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include media-query-large {
                        font-size: 30px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }

            .point2{
                margin-top: 80px;

                @include mobile{
                    margin-top: 40px;
                }

                h4{
                    font-size: 25px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include media-query-large {
                        font-size: 30px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }

            .point3{
                margin-top: 80px;

                @include mobile{
                    margin-top: 40px;
                }

                h4{
                    font-size: 25px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include media-query-large {
                        font-size: 30px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }
        }

        .right{
            flex: 0.5;
            padding-left: 0;

            @include media-query-large{
                padding-left: 40px;
            }

            @include mobile{
                margin-top: 40px;
            }

            .point1{

                h4{
                    font-size: 30px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include mobile{
                        font-size: 25px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }

            .point2{
                margin-top: 100px;

                @include mobile{
                    margin-top: 40px;
                }

                h4{
                    font-size: 30px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include mobile{
                        font-size: 25px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }

            .point3{
                margin-top: 100px;

                @include mobile{
                    margin-top: 40px;
                }

                h4{
                    font-size: 30px;
                    font-weight: 600;
                    color: $secondary-color;

                    @include mobile{
                        font-size: 25px;
                    }
                }

                p{
                    text-align: justify;
                    font-size: 13px;
                    margin-top: 30px;
                    color: $secondary-color;
                }
            }
        }
    }
}

